<?xml version="1.0"?>
<config>
    <modules>
        <Itransition_Insurance>
            <version>1.0</version>
        </Itransition_Insurance>
    </modules>

    <global>
        <helpers>
            <insurance>
                <class>Itransition_Insurance_Helper</class>
            </insurance>
        </helpers>

        <models>
            <insurance>
                <class>Itransition_Insurance_Model</class>
                <resourceModel>insurance_resource</resourceModel>
            </insurance>

            <checkout>
                <rewrite>
                    <type_onepage>Itransition_Insurance_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>

            <resources>
                <insurance_resource_setup>
                    <setup>
                        <module>Itransition_Insurance_Model_Resource</module>
                        <class>Mage_Sales_Model_Resource_Setup</class>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </insurance_resource_setup>

                <categoryrestrict_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </categoryrestrict_write>

                <categoryrestrict_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </categoryrestrict_read>
            </resources>

        </models>

        <blocks>
            <checkout>
                <rewrite>
                    <onepage>Itransition_Insurance_Block_Onepage</onepage>
                </rewrite>
            </checkout>

            <insurance>
                <class>Itransition_Insurance_Block</class>
            </insurance>

            <insuranceonepage>
                <class>Itransition_Insurance_Block_Onepage</class>
            </insuranceonepage>

            <adminhtml>
                <rewrite>
                    <sales_order_totals>Itransition_Insurance_Block_Admin_Total_SalesOrder</sales_order_totals>
                    <sales_order_invoice_totals>Itransition_Insurance_Block_Admin_Total_SalesOrderInvoice</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Itransition_Insurance_Block_Admin_Total_SalesOrderCreditmemo</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>


            <sales>
                <rewrite>
                    <order_totals>Itransition_Insurance_Block_Total_SalesOrder</order_totals>
                    <order_invoice_totals>Itransition_Insurance_Block_Total_SalesOrderInvoice</order_invoice_totals>
                    <order_creditmemo_totals>Itransition_Insurance_Block_Total_SalesOrderCreditmemo</order_creditmemo_totals>
                </rewrite>
            </sales>
        </blocks>

        <fieldsets>
            <sales_convert_quote>
                <insurance>
                    <to_order>*</to_order>
                </insurance>
            </sales_convert_quote>

            <sales_convert_quote_address>
                <insurance><to_order_address>*</to_order_address></insurance>
            </sales_convert_quote_address>

            <sales_convert_order_address>
                <insurance><to_quote_address>*</to_quote_address></insurance>
            </sales_convert_order_address>
        </fieldsets>


        <sales>
            <quote>
                <totals>
                    <insurance>
                        <class>insurance/Total_Quote</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </insurance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <insurance>
                        <class>insurance/Total_Invoice</class>
                        <after>subtotal</after>
                    </insurance>
                </totals>
            </order_invoice>

            <order_creditmemo>
                <totals>
                    <insurance>
                        <class>insurance/Total_Creditmemo</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </insurance>
                </totals>
            </order_creditmemo>

        </sales>

        <pdf>
            <totals>
                <insurance>
                    <title>Insurance</title>
                    <source_field>insurance</source_field>
                    <font_size>12</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>1000</sort_order>
                </insurance>
            </totals>
        </pdf>

        <resources>
            <insurance_setup>
                <setup>
                    <module>Itransition_Insurance</module>
                </setup>
            </insurance_setup>
        </resources>

    </global>

    <frontend>
        <routers>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <Itransition_Insurance before="Mage_Checkout">Itransition_Insurance</Itransition_Insurance>
                    </modules>
                </args>
            </checkout>
        </routers>

        <layout>
            <updates>
                <insurance>
                    <file>insurance.xml</file>
                </insurance>
            </updates>
        </layout>
    </frontend>


    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <insurance_options>
                                            <title>Insurance Management</title>
                                        </insurance_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

    </adminhtml>
</config>
